<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>爱回购</title>
    <meta name="keywords" content="消费金融、信用贷、现金贷、现金分期、小额资产、现金贷系统、风控系统、运营系统">
    <meta name="description" content="CREDAN是您的一站式消费金融、现金分期、现金贷SAAS服务提供商，无需部署，您即将拥有完善的风控，反欺诈方案、自动化运营、获客管理、
以及全周期的客户管理，极大化的增加您的投资回报率！" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,width=device-width,minimum-scale=1.0,user-scalable=no">
    
    

    <% if( htmlWebpackPlugin.options.NODE_PLATFORM == 'app' ){ %>
    
      <script src="http://sdk.talkingdata.com/app/h5/v1?appid=93D22793D641439A91FA0B6B411533F7&vn=爱回购渠道1&vc=1.1"></script>
      <script src="../cordova.js"></script>

   <% } %>
    
    <script>

var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?1d97ce8234c4a06f9ead65fc1703fa69";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</head>

<body>
     <%= htmlWebpackPlugin.options.pageNav %>
        <div class="entry-loading"></div>
        <div id="app"></div>
        <div backdrop class="backdrop"></div>
        <div class="signature"></div>
     <%= htmlWebpackPlugin.options.pageTabBar %>
</body>


</html>